@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Quicksand:wght@400;500;600;700&family=Roboto:wght@400;500;700;900&display=swap");
:root {
  --PlayfairDisplay: "Playfair Display", serif;
  --Roboto: "Roboto", sans-serif;
  --Quicksand: "Quicksand", sans-serif;
}
/* Contact section */
.contact {
  padding: 6.25rem 1.25rem;
}
.section-title {
  margin-top: 1.25rem;
  font-size: 1.9rem;
  font-family: var(--Quicksand);
  font-weight: 700;
  letter-spacing: 4px;
  text-transform: capitalize;
  color: rgb(35, 35, 105);
}
textarea,
input {
  width: 100%;
  padding: 0.9rem;
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
  border: 1px solid #f0e9ff;
  border-radius: 5px;
  padding-left: 18px;
  font-size: 0.8rem;
  background: transparent;
  color: #495057;
  box-sizing: border-box;
  font-family: var(--Quicksand);
}
textarea:focus,
input:focus {
  outline: 0;
  box-shadow: none;
}
.half-row {
  width: 50%;
  float: left;
  box-sizing: border-box;
}
.contact__firstname {
  padding-right: 0.9rem;
}
.contact__email {
  padding-left: 0.9rem;
}
.contact__send {
  margin-top: 1.9rem;
}

/* /Contact section */
